@charset "uft-8";

#main > section {
    padding: 6rem 0;
    padding: 3.125vw 0;
    padding: clamp(4rem, 3.125vw, 6rem) 0;
}

.visual {
    background: #000;
    height: 46rem;

    /* css 개별성 규칙 
    선택자에 따라 선택기
    #id=100, .class=10, tag=1 
    e.g) #exemple .exemple .item h4 +p =>122
    점수가 높은 명령어를 우선 해석 */
    padding: 0 !important/* 개별성규칙 무력화 */;

    position: relative;
    overflow: hidden;
}

.visual::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://e3.365dm.com/23/11/1600x900/skynews-james-webb-space-nasa_6368218.jpg?20231122092020)
        no-repeat 0 0 / cover;

    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0;
    left: 0;

    animation: visual-ani 1s;
}

.visual::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--black50p);
}

.visual .inner {
    position: relative;
    height: 100%; /* posa로 자식 visual title이 떠버려서 자식한테 h크기를 못 받아오니까 부모인 visual에게 크기를 상속받아옴 */
}

.visual-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

    width: 69rem;
    width: 58.4746%;

    color: #fff;
}

.visual-title h2 {
    font-weight: 700;
    font-size: 4.8rem;
    font-size: 2.5vw; /* viweport width 기준 폰트사이즈 비율*/
    font-size: clamp(3rem, 8vw, 4.8rem); /* clamp(최소값, 추천값, 최대값) */
    line-height: 1;

    text-transform: uppercase;

    animation: slide-right 1s;
}

.visual-title h2 strong {
    color: var(--main-color);
}

.visual-title p {
    font-weight: 500;
    font-size: 2rem;

    /* width: 44rem; */
    margin-top: 2.4rem;

    animation: slide-right 1s 0.4s both;
}

.visual-title a.cta {
    font-weight: 700;

    display: inline-flex; /* inline과 flex의 특징을 동시에 웃긴놈이 다있네 */
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 4.8rem;
    background: var(--main-color);
    margin-top: 3.2rem;

    animation: slide-right 1s 0.8s both;
}

@keyframes visual-ani {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-right {
    from/* 0% */ {
        opacity: 0;
        transform: translateX(-50%);
    }

    to/* 100% */ {
        opacity: 1;
        transform: translateX(0%);
    }
}

.business-list {
    display: flex;
    gap: 2rem;
}

.business-list li {
    width: 28rem;
    width: 23.7288%;
    min-height: 30.2rem;
    padding: 2.8rem 3.2rem;
    border: 1px solid var(--black20p);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.05);
}

.business-list li dl dt {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
    color: var(--main-color-dark);
}

.business-list li dl dd {
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    margin-top: 1.2rem;
}

.business-list li dl dt + dd {
    margin-top: 2rem;
}

.works-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 2.8rem;
}

.works-list li {
    width: 59rem;
    width: 50%;
    height: 26rem;
    text-align: center;

    position: relative;
}

.works-list li figure {
    width: 100%;
    height: 100%;
}

/* .works-list li a {
    display: flex;
    position: relative;
}

.works-list li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
} */

.works-list li p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;

    transform: translate(-50%, -50%);

    font-weight: 500;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;

    width: 90%;
}

.works-list li p strong {
    display: block;

    font-weight: 700;
}

.news-con {
    display: flex;
    justify-content: space-between;
}

.news-text {
    width: 48rem;
    width: 40.6779%;
}

.news-text h4 {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--title-color);

    margin-top: 1.8rem;
}

.news-con p {
    color: var(--text-color);

    margin-top: 1.8rem;
}

.news-con figure {
    width: 64rem;
    width: 54.2373%;
}

.column h4 {
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--main-color);
}

.column h5 {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--title-color);

    margin-top: 1.8rem;
}

.column h5 + p {
    margin-top: 1.8rem;
    column-count: 2;
    column-gap: 4rem;
}

.column p {
    color: var(--text-color);

    margin-top: 1.8rem;
}

.column p + p {
    text-align: right;
}

.column p + p strong {
    display: block;
    font-weight: 700;
}

/* .inner 크기에 맞는 분기점 생성 */
@media screen and (max-width: 1180px) {
    .inner {
        width: 94.53125%;
    }
}

/* 태블릿 디자인 */
@media screen and (max-width: 1024px) {
    /* .inner {
        width: 968px;
        width: 94.53125%;
    } */

    #header nav {
        height: 10rem;
    }

    .gnb {
        display: none;
    }

    .btu-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 4.8rem;
        height: 4.8rem;
        background: url(../img/ico-menu.svg) no-repeat 50%;
    }

    .visual {
        height: 64rem;
    }

    .visual-title {
        width: 46rem;
        width: 47.5207%;
        left: 8.2rem;
    }

    .business-list {
        flex-wrap: wrap;
    }

    .business-list li {
        width: 47.4rem;
        width: 48.9669%;

        width: calc((100% - 2rem) / 2); /* (부모가로 - gap*gap갯수) / item갯수 */

        min-height: 2.8rem;
    }

    .news-text {
        width: 47.4rem;
        width: 48.9669%;
    }

    .news-con figure {
        width: 47.4rem;
        width: 48.9669%;
    }

    .column h5 + p {
        column-count: 1;
    }

    ..column p + p {
        margin-top: 2rem;
    }
}

/* 추가한 중간분기 */
@media screen and (max-width: 900px) {
    .visual-title {
        width: 70%;
    }

    .news-con {
        /* flex-wrap: wrap;
        display: block; */
        flex-direction: column;
        gap: 2.4rem;

        /* 셋 다 쓸 수 있음 */
    }

    .news-text {
        width: 100%;
    }

    .news-con figure {
        width: 100%;
    }
}

/* 모바일 디자인 */
@media screen and (max-width: 600px) /* 모바일버전 분기 더 크게 잡기 */ {
    .inner {
        /* width: 350px; */
        width: 89.7436%;
    }

    .visual {
        height: 48rem;
        height: calc(100vh - 10rem);
    }

    .visual-title {
        width: 100%;
        left: 0;

        text-align: center;
    }

    .visual-title h2 {
        font-size: 3rem;
    }

    .business-list li {
        width: 100%;
    }

    .works-list li {
        width: 100%;
        height: initial;
        aspect-ratio: 1/0.5;
    }

    .column h5 {
        font-size: 2.4rem;
    }

    .foot-con {
        flex-direction: column;
        gap: 2.4rem;
    }

    .foot-text {
        text-align: center;
    }
}
